{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Post
{% endblock title %}

{% block content %}
   <h1>Поиск новостей по фильтру!</h1>

   <hr>

    <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
    </form>
    <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Текст</td>
               <td>Дата публикации</td>
           </tr>

           {% for posts in posts %}
           <tr>
               <td>{{ posts.header | censor }}</td>
               <td>{{ posts.text_header | truncatechars:20 | censor }}</td>
               <td>{{ posts.create_data }}</td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Информации по данным фильтрам не найдено!</h2>
   {% endif %}

     {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
